@font-face {
  font-family: 'AvantGarde-Book';
  src: url('/fonts/AvantGarde-Book.eot');
  src: url('/fonts/AvantGarde-Book.woff2') format('woff2'),
       url('/fonts/AvantGarde-Book.woff') format('woff'),
       url('/fonts/AvantGarde-Book.ttf') format('truetype'),
       url('/fonts/AvantGarde-Book.svg#AvantGarde-Book') format('svg'),
       url('/fonts/AvantGarde-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGardeLT-ExtraLight';
  src: url('/fonts/AvantGardeLT-ExtraLight.eot');
  src: url('/fonts/AvantGardeLT-ExtraLight.woff2') format('woff2'),
       url('/fonts/AvantGardeLT-ExtraLight.woff') format('woff'),
       url('/fonts/AvantGardeLT-ExtraLight.ttf') format('truetype'),
       url('/fonts/AvantGardeLT-ExtraLight.svg#AvantGardeLT-ExtraLight') format('svg'),
       url('/fonts/AvantGardeLT-ExtraLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGarde_Bold';
  src: url('/fonts/AvantGarde_Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



body{
	font-family: 'AvantGarde-Book', 'sans-serif'!important;
	font-size: 18px;
	line-height: 40px;
	padding-top: 73px;
	background-image: url(/images/bg-logo.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
//	background-attachment: fixed;
	background-size: 800px;	
}

$grey: #666666;
$green : #b4ce55;
a,
a:hover{
	text-decoration: none;
	color: $green;
}
.img-grow{transition: all .35s ease-in-out;}
.img-grow:hover{transform: scale(.97);}

.light{font-family: 'AvantGardeLT-ExtraLight', 'sans-serif'!important;  }
.boldText{font-family: 'AvantGarde_Bold', 'sans-serif'!important; font-size: 105%; }


h1{font-size: 42px; line-height: 53px;}
h2{font-size: 58px; line-height: 50px;}
h3{font-size: 32px; line-height: 32px;}
h4{font-size: 36px; line-height: 50px;}
.text-grey{color: $grey}
.text-black{color: #000;}
.text-green{color: $green;}
.btn{
	background-color: $grey;
	display: inline-block;
	border-radius: 0;
	color: #FFF;
	padding: 5px 15px;
	transition: all .40s ease-in-out;
	&:hover{
		background-color: #000;
		color: #FFF;
	}
}

footer{
	background-color: #FFF;
	border-top: 1px solid #000;
	padding-top: 50px;
	padding-bottom: 25px;
	.logo{
		width: 210px;
	}
	.text-copyright {
		line-height: 1px;
	}
	p,a{
		font-size: 14px;
		color: #000;
		
	}
	#privacyPolicy{
		p{
			font-size: 14px;
			line-height: 24px;
			letter-spacing: 1px;
		}
	}
}