#main-nav{
	box-shadow: 0 0 4px #ccc;
	.navbar-nav{
		.nav-link{
			color: #000;
			font-size: 15px;
			line-height: 18px;
			letter-spacing: 1px;
			white-space: nowrap;
		}
	}
}

@media screen and (min-width:993px){
	#main-nav{
		.navbar-nav{
			margin-bottom: -33px;
			li{
				border-bottom: 5px solid #FFF;
			}
			.active{
				border-bottom: 5px solid #666666;
			}
		}
	}	
}

@media screen and (max-width :576px){
	.img-nav-logo{
		max-width: 150px;
	}
}