#heroSlider{
	.slide{
		max-height: 800px;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	#slide-1{
		background-image: url(/images/hero/hero-1.jpg);
	}
	#slide-2{
		background-image: url(/images/hero/hero-2.jpg);
	}
	#slide-3{
		background-image: url(/images/hero/hero-3.jpg);
	}
	.carousel-caption{
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 80%;
		p{
			font-size: 96px;
			line-height: 99px;
			text-align: left;
			text-shadow: 1px 2px 5px #000;
		}
		
	}
	.first-caption1{
		opacity: 0;
				
	}
	.second-caption1{
		animation-name: caption-two;
		animation-duration: 2s;
	}
	
}
	.second-caption{
		display: none;
				
}
.showNow{
	display: block!important;
}

@keyframes caption-one1 {
    0%   {opacity: 100%; display: block;}
    25%  {opacity: 100%;display: block;}
    50%  {opacity: 0;display: none;}
    100% {opacity: 0;display: none;}
}
	
@keyframes caption-tw1 {
    0%   {opacity: 0;display: none;}
    25%  {opacity: 0;display: none;}
    50%  {opacity: 100%;display: block;}
    100% {opacity: 100%;display: block;}
}



#bubble-container{
	
	.bubble{
		margin-top: -50px;
		transition: all .25s ease-in-out;
		opacity: 0;
	}
	
}
.op-1{opacity: 1!important;}
.op-0{opacity: 0!important;}

#home-designs{
	border-top: 1px solid #000;
	padding-top: 25px;
	padding-bottom: 25px;
	p{
		line-height: 33px;
	}
}