body  {
	font: 100% Arial, Helvetica, sans-serif;
	background: #000;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
	font-size: 1em;
}

.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}


.twoColFixLtHdr #container { 
	width: 1200px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: 1px solid #000000;
	text-align: left; /* this overrides the text-align: center on the body element. */
} 

/* header */
.twoColFixLtHdr #header { 
	background: #000; 
	padding: 10px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
	height: 80px;
}

#corpLogo{
	width:230px;
	float:left;
	padding:10px 0 0 0;	
}

#headerHeading{
	float:left;
	width:900px;
	text-align:center;
	padding: 35px 0 0 0 ; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
}

#headerLogout a, #headerLogout a:hover, #headerLogout a:visited{
	color:#000;
	background-color:#fff;
	text-decoration:none;
	padding:2px 4px 2px 4px;
	font-size:12px;
	
	
}

.twoColFixLtHdr #header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	color:#fff;
	display:inline;
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	font-weight:normal;
	text-align:center;
	
}

#headerLogout{
	position:absolute;
	padding:5px 10px 0px 1100px;
}



/* side menu */

.twoColFixLtHdr #sidebar1 {
	float: left; /* since this element is floated, a width must be given */
	width: 175px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	background: #ffffff; /* the background color will be displayed for the length of the content in the column, but no further */
	/*
	padding: 15px 10px 15px 10px;
	*/
	
}

.twoColFixLtHdr #sidebar1 H3{
	width:175px;
	margin:0;
	text-align:center;
	font-size:18px;
	font-weight:normal;
	color:#fff;
	background-color:#003876;
	padding: 10px 0 10px 0;
	
	
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.twoColFixLtHdr #sidebar1 ul {
	padding:20px 0 0 0;
	margin:0px;
}


#adminMenuUL{
	display:block;
	list-style: none;
}

#adminMenuUL li{

}

#adminMenuUL li a, #adminMenuUL li a:hover, #adminMenuUL li a:visited{
	text-decoration: none;
	font-size:14px;	
	font-weight:bold;
	color:#808080;
	
	width:165px;
	height:33px;
	
	display:block;
	
	padding:10px 0 0 10px;

	background-color:#fff;
	border-bottom: 1px #333 solid;
	
}

#adminMenuUL li a:hover, #adminMenuUL li.selected a, #adminMenuUL li.selected a:visited{
	color:#fff;
	background-color:#808080;
}


/* footer */

.twoColFixLtHdr #footer { 
	padding: 5px 10px 0 0px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background:#000; 
	color:#fff;
	height:40px;
	font-size:10px;
} 
.twoColFixLtHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}


#copyright{
	float:left;
}

#ryanLogo{
	float:left;
	padding:4px 0 0 799px;
}

/* main content area */

#messageWindow{
	width:755px;
	height:70px;
	background-color:#ECECEC;
	border:1px #000000 solid;
	padding:10px;
	margin:0 0 10px 0;
}

.twoColFixLtHdr #mainContent { 
	margin: 0 0 0 175px; /* the left margin on this div element creates the column down the left side of the page - no matter how much content the sidebar1 div contains, the column space will remain. You can remove this margin if you want the #mainContent div's text to fill the #sidebar1 space when the content in #sidebar1 ends. */
	/*padding: 0 10px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	border-left-color:#000;
	border-left-width:thin;
	border-left-style:solid;
	padding:0px 10px 10px 10px;
} 

#mainContent h1{
	margin:0;
	padding:0 0 10px 0;
	font-size:24px;
	font-weight:bold;
	color:#003876;	
}


.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}

.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}

.h3edit{
	margin:0;
	font-size:1em;
}

table.talbeProductsEdit{
	background-color: #fafafa;
	border: 1px #d79900 solid;
	border-collapse: collapse;
	border-spacing: 0px;
	
		
}

table.talbeProductsEdit td{
	padding:3px 3px 3px 3px;
}

table.tablelist tr{

}

table.bordered td{
	border: 1px #cccccc solid;	
}

.redtextsm{
	font-size:.7em;
	color:#FF0000;
}





.contentTopButton {
	/*display: block;*/
	background-color:#003876;
	color:#fff;
	height: 30px;
	font-size:12px;
	cursor:pointer;
	
}

.pagenation{
	width:800;
	text-align:right;
	padding:0 0 20px 0;
	
}


input.button{
	background-color:#003876;
	color:#fff;
	height: 30px;
	font-size:12px;
	cursor:pointer;
}

/* ----------------------------------------------------------------------------------------------------------------------------

Schedule styles

---------------------------------------------------------------------------------------------------------------------------- */

.divFullWeekdayTitle {
	text-align:center;
	color:#003876;
	
}

.divFullDateTitle {
	text-align:center;
	font-weight:bold;
	
}

.timeSelection{
	margin: 3px 0 3px 0;	
}

.timeSelectionDisplayInputBoxUpdatedValue {
	background-color:#0C3;	
}

.timeSelectionDisplayInputBoxDetetedValue{
	background-color:#F00;	
}

.timeSelectionDisplayInputBox_total_appointments {
	background-color:#0C3;	
}

.timeSelectionDisplayInputBox_booked_appointments{
	background-color:#FF0;	
}

.timeSelectionDisplayInputBox_none_appointments{
	background-color:#999;	
}



/* ----------------------------------------------------------------------------------------------------------------------------

Schedule styles

---------------------------------------------------------------------------------------------------------------------------- */

.divDayTitleBox{
	width:140px;
	height:44px;
	background-color:#F5F2EA;
	font-size:12px;
}



.divAppointmentTimeRow{
	width:145px;
	float:left;	
	font-size:12px;
}
